.home-container {
    display: flex;
    justify-content: space-between;
    padding: 80px;
  }
  
  .prompt-section {
    width: 25%;
  }
  
  .post-feed {
    width: 70%;
    margin-left: 20px;
  }
  
/* For the prompt cards */
  .prompt-section {
    width: 25%;
    margin-right: 20px;
  }
  
  .post-feed {
    width: 70%;
  }
  
  .prompt-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .prompt-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .prompt-card p {
    font-size: 16px;
    margin-bottom: 10px;
  }  