.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: -5px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 50px; 
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-family: 'McLaren', cursive;
  color: #9500F0;
}

.navbar-center {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.nav-links li {
  display: flex;
  align-items: center;
  background-color: #d6d6d6;
  border-radius: 0px;
  padding: 5px 10px;
  transition: background-color linear, color linear;
}

.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav-links li:hover {
  background-color: #9500F0;
}

.nav-links li:hover a {
  color: #fff;
  background-color: #9500F0;
  border-radius: 25px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.icon-button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 10px;
  margin-left: 30px;
  height: 40px;
  width: 40px;
}

.user-icon {
  background-color: #9500F0; /* สีพื้นหลัง */
  color: white; /* สีของตัวอักษร */
  font-weight: bold;
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  width: 40px; /* ความกว้าง */
  height: 40px; /* ความสูง */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 20px; /* ขนาดของตัวอักษร */
  box-sizing: border-box; /* ทำให้ padding ไม่ส่งผลต่อขนาด */
  margin-left: 30px;
}


