/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Left section (Logo and Text) */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove the underline */
}

.logo-image {
  width: 50px;
  height: auto;
  margin-right: 8px;
}

.logo-text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ab57ff;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Center section (Home and Create Post buttons) */
.navbar-center {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.icon-button {
  display: flex;
  align-items: center;
  background-color: #d6d6d6;
  border-radius: 0px;
  padding: 5px 10px;
  transition: background-color linear, color linear;
}

.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: #e0e0e0;
}

.nav-icon {
  margin-right: 5px;
  font-size: 1.3rem;
}

/* Right section (Notifications and User Profile) */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.icon-button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 10px;
  margin-left: 30px;
  height: 40px;
  width: 40px;
}

.user-icon {
  background-color: #ab57ff;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 20px; /* ขนาดของตัวอักษร */
  box-sizing: border-box; /* ทำให้ padding ไม่ส่งผลต่อขนาด */
  margin-left: 30px;
}

.navbar-profile {
  position: relative;
}

.profile-btn {
  background-color: #9500F0;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-arrow {
  margin-left: 0.5rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  font-size: small;
  padding: 0.5rem 1rem;
  display: block;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}

